@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .what-we-do .pic-content {
    flex-wrap: wrap;
  }
  .menu ul li a {
    margin-left: 16px;
  }
  .blog-pic .date {
    left: -10%;
    top: 13%;
  }
}
@media screen and (max-width: 1024px) {
  .toggleBtn {
    display: block;
  }
  .services {
    text-align: center;
  }
  .head hr {
    width: 12%;
  }

  .all-hr {
    width: 12%;
  }

  #menubar {
    position: absolute;
    right: 10%;
    top: 8%;
    background-color: #e88783;
    padding: 10px 30px;
    transition: all 0.3s ease;
    transform: scaleY(0);
    height: 0px;
  }

  #menubar li {
    margin-top: 14px;
  }

  .menu ul {
    flex-direction: column;
  }

  .all-p {
    font-size: 15px;
  }

  .about_content {
    column-gap: 15px;
  }

  .counter .container {
    display: block;
    padding: 30px 0px;
  }

  .container .number-text {
    border: none;
  }

  .container .number-text:first-child {
    border: none;
  }

  .container .number-text {
    padding: 0px;
    text-align: center;
    margin: 0px auto;
  }

  .container .number-text h4 {
    font-size: 30px;
  }

  .container .number-text p {
    font-size: 9px;
    line-height: 15px;
  }

  .container .number-text {
    padding: 8px;
  }

  .all-services {
    display: inline-block;
    padding: 0px 0px;
  }

  .services-item {
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
  }

  .all-services .services-item .icon i {
    padding-bottom: 15px;
  }

  .design {
    position: relative;
    margin-bottom: 30px;
  }

  .design-text {
    padding-top: 80px;
  }

  .design-img .second-img {
    height: 30%;
    top: 56%;
    left: 51%;
  }

  .what-we-do .pic-content {
    display: grid;
  }

  .testimonial-icon-text {
    display: block;
    text-align: center;
  }

  .devider-text {
    display: block;
    text-align: center;
  }

  .devider-text hr {
    margin: 0px auto;
    margin-bottom: 20px;
  }

  .testimonial-icon i {
    padding: 15px;
    margin-bottom: 20px;
  }

  .testimonial-icon img {
    width: 35%;
    padding-bottom: 20px;
  }

  .logo-sec {
    display: none;
  }

  .people-div.one-div {
    padding-bottom: 0px;
  }

  .pic-text {
    display: block;
    text-align: center;
    padding-bottom: 40px;
  }

  .people-say .text .allHr {
    margin: 0px auto;
    margin-bottom: 10px;
  }

  .people-div {
    column-gap: 30px;
    display: block;
  }

  .people-say .text .text-para {
    width: 100%;
  }

  .blog-pic .date p {
    font-size: 10px;
  }

  .blog-div {
    display: block;
  }

  .blog-pic .date {
    display: none;
  }

  .blog-pic .p-one {
    font-size: 14px;
  }
  .blog-pic .p-two {
    font-size: 12px;
  }

  .people-say .text .text-h {
    font-size: 15px;
    padding-top: 20px;
  }
  .people-say .text .text-p {
    font-size: 13px;
  }
  .people-say .text .text-para {
    font-size: 12px;
  }
  .number {
    padding-bottom: 20px;
  }

  .footer {
    display: block;
    text-align: center;
  }

  .footer-one {
    width: 100%;
  }

  .footer-two {
    width: 100%;
  }

  .Footer-img {
    display: block;
  }

  .Footer-img .pic img {
    width: 70%;
    padding-bottom: 20px;
  }

  .Footer-img .text .pOne {
    line-height: 22px;
  }

  .design {
    height: 60vh;
  }

  .header .icon {
    display: none !important;
  }

  .menu ul li a {
    margin-left: 0 !important;
  }

  .head h3 {
    font-size: 40px;
  }

  .head h1 {
    font-size: 60px;
  }

  .about_content {
    flex-direction: column;
  }

  .contentText {
    margin-bottom: 2rem;
  }

  .all-p {
    margin-bottom: 40px;
  }

  .team-member {
    flex-direction: column;
  }

  .team-member .team-pic {
    width: 100%;
    margin-bottom: 2rem;
  }

  .work .all-pic {
    flex-direction: column;
  }

  .first-column,
  .second-column {
    width: 100%;
  }

  .hoverEf .hov-text {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  .blog-pic {
    margin-bottom: 2rem;
  }

  .footer-one .inputeBtn {
    display: block;
  }

  .pic-content img {
    width: 100%;
  }

  .all-services.border {
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .toggleBtn {
    display: block;
  }
  .all-hr {
    width: 15%;
  }
  .head hr {
    width: 15%;
  }
  .counter {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .testimonial {
    padding-left: 0px;
    padding-right: 0px;
  }

  #menubar {
    position: absolute;
    right: 10%;
    top: 8%;
    background-color: #e88783;
    padding: 10px 30px;
    transition: all 0.3s ease;
    transform: scaleY(0);
    height: 0px;
  }

  #menubar li {
    margin-top: 14px;
  }

  .menu ul {
    flex-direction: column;
  }

  .all-p {
    font-size: 15px;
  }

  .about_content {
    column-gap: 15px;
  }

  .counter .container {
    display: block;
    padding: 30px 0px;
  }

  .container .number-text {
    border: none;
  }

  .container .number-text:first-child {
    border: none;
  }

  .container .number-text {
    padding: 0px;
    text-align: center;
    margin: 0px auto;
  }

  .container .number-text h4 {
    font-size: 30px;
  }

  .container .number-text p {
    font-size: 9px;
    line-height: 15px;
  }

  .container .number-text {
    padding: 8px;
  }

  .all-services {
    display: inline-block;
    padding: 0px 0px;
  }

  .services-item {
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
  }

  .all-services .services-item .icon i {
    padding-bottom: 15px;
  }

  .design {
    position: relative;
    margin-bottom: 30px;
  }

  .design-text {
    padding-top: 80px;
  }

  .design-img .second-img {
    display: none;
  }

  .what-we-do .pic-content {
    display: grid;
  }

  .testimonial-icon-text {
    display: block;
    text-align: center;
  }

  .devider-text {
    display: block;
    text-align: center;
  }

  .devider-text hr {
    margin: 0px auto;
    margin-bottom: 20px;
  }

  .testimonial-icon i {
    padding: 15px;
    margin-bottom: 20px;
  }

  .testimonial-icon img {
    width: 35%;
    padding-bottom: 20px;
  }

  .logo-sec {
    display: none;
  }

  .people-div.one-div {
    padding-bottom: 0px;
  }

  .pic-text {
    display: block;
    text-align: center;
    padding-bottom: 40px;
  }

  .people-say .text .allHr {
    margin: 0px auto;
    margin-bottom: 10px;
  }

  .people-div {
    column-gap: 30px;
    display: block;
  }

  .people-say .text .text-para {
    width: 100%;
  }

  .blog-pic .date p {
    font-size: 10px;
  }

  .blog-div {
    display: block;
  }

  .blog-pic .date {
    display: none;
  }

  .blog-pic .p-one {
    font-size: 14px;
  }
  .blog-pic .p-two {
    font-size: 12px;
  }

  .people-say .text .text-h {
    font-size: 15px;
    padding-top: 20px;
  }
  .people-say .text .text-p {
    font-size: 13px;
  }
  .people-say .text .text-para {
    font-size: 12px;
  }
  .number {
    padding-bottom: 20px;
  }

  .footer {
    display: block;
    text-align: center;
  }

  .footer-one {
    width: 100%;
  }

  .footer-two {
    width: 100%;
  }

  .Footer-img {
    display: block;
  }

  .Footer-img .pic img {
    width: 70%;
    padding-bottom: 20px;
  }

  .Footer-img .text .pOne {
    line-height: 22px;
  }

  .design {
    height: 100vh;
  }

  .header .icon {
    display: none !important;
  }

  .menu ul li a {
    margin-left: 0 !important;
  }

  .head h3 {
    font-size: 40px;
  }

  .head h1 {
    font-size: 60px;
  }

  .about_content {
    flex-direction: column;
  }

  .contentText {
    margin-bottom: 2rem;
  }

  .all-p {
    margin-bottom: 40px;
  }

  .team-member {
    flex-direction: column;
  }

  .team-member .team-pic {
    width: 100%;
    margin-bottom: 2rem;
  }

  .work .all-pic {
    flex-direction: column;
  }

  .first-column,
  .second-column {
    width: 100%;
  }

  .hoverEf .hov-text {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  .blog-pic {
    margin-bottom: 2rem;
  }

  .footer-one .inputeBtn {
    display: block;
  }

  .pic-content img {
    width: 100%;
  }

  .all-services.border {
    border: none;
  }
}
@media screen and (max-width: 480px) {
  .header {
    height: 80vh;
  }

  .team {
    padding-bottom: 0px;
  }

  .blog-pic .date {
    padding: 10px;
    width: 8%;
    left: -3%;
    top: 30%;
  }
  .container {
    padding: 0% 10%;
  }
  .testimonial-icon i {
    padding: 8px;
  }
  .testimonial-text p {
    font-size: 13px;
  }
  .testimonial .container {
    padding: 0% 0%;
  }
  .para-text p {
    font-size: 12px;
  }
  .content .icon-text p {
    font-size: 12px;
  }
  .head h3 {
    font-size: 25px;
  }
  .head h1 {
    font-size: 45px;
  }
  .head hr {
    width: 15%;
  }

  .head button {
    font-size: 11px;
  }
  .all-h3 {
    font-size: 20px;
  }
  .all-h2 {
    font-size: 25px;
  }
  .all-hr {
    width: 15%;
  }
  .all-p {
    font-size: 10px;
    line-height: 19px;
  }
  .all-services .services-item .text h3 {
    font-size: 10px;
    line-height: 20px;
  }
  .all-services .services-item .text p {
    font-size: 14px;
  }
  .design-img .first-img {
    width: 80%;
    height: 55%;
  }
  .design-img .second-img {
    height: 33%;
    width: 35%;
    left: 54%;
    top: 63%;
  }
  .design-text {
    padding-top: 0px;
  }

  .design-text {
    padding-top: 0px;
  }

  .design {
    height: 50vh;
  }
}
