@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;500;600;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 0% 16%;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.header {
  background: url("./images/header-banner.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.all-h3 {
  color: black;
  font-size: 24px;
  font-weight: 200;
  font-family: "Courgette", cursive;
  text-align: center;
  padding-bottom: 20px;
}

.all-h2 {
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.all-hr {
  width: 5%;
  height: 3px;
  text-align: center;
  background-color: #f38181;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border: none;
}

.all-p {
  color: #999999;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 70px;
}

.nev {
  padding: 40px 0px;
}

.nev {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul li {
  list-style-type: none;
  text-decoration: none;
}

.menu ul li a {
  text-decoration: none;
  margin-left: 40px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}

.menu ul li a:hover {
  color: #ffeaa2;
  border-bottom: 2px solid #ffeaa2;
}

.nev .icon i {
  color: #ffffff;
  margin-left: 20px;
}

.head {
  text-align: center;
  margin-top: 13vh;
}

.head h1 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 110px;
  margin-bottom: 20px;
}

.head h3 {
  font-size: 70px;
  font-weight: 900;
  font-family: "Dancing Script", cursive;
  color: #ffffff;
  margin-bottom: 20px;
}

.head button {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 30px;
  background-color: transparent;
  border: 3px solid #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.head button:hover {
  background-color: rgb(233, 143, 132);
  border-color: rgb(237, 187, 136);
  transition: 0.3s ease;
}

.head hr {
  width: 5%;
  height: 3px;
  text-align: center;
  color: #ffffff;
  background-color: #ffffff;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border: none;
}

/*============== About Section =================*/

.about_content {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.contentText {
  position: relative;
  transition: 0.5s ease;
}

.contentText img {
  height: 100%;
  width: 100%;
}

.before-after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  opacity: 0;
  transition: 0.5s;
}

.contentText:hover .before-after {
  opacity: 1;
  top: 45%;
}

.contentText:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(
    to top,
    #fce38a,
    #ffca7d,
    #ffb078,
    #fe987a,
    #f38181
  );
  opacity: 0;
  transition: 0.5s;
}

.contentText:hover::before {
  opacity: 0.9;
  transition: 0.5s;
}

.contentText:hover {
  -webkit-box-shadow: 10px 11px 0px 3px rgba(149, 225, 211, 1);
  -moz-box-shadow: 10px 11px 0px 3px rgba(149, 225, 211, 1);
  box-shadow: 10px 11px 0px 3px rgba(149, 225, 211, 1);
  transition: 0.5s;
}

.before-after i {
  font-size: 20px;
}

.before-after h4 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/*===================== Counter Section =====================*/

.counter .container {
  min-height: 300px;
  background-color: #95e1d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.container .number-text {
  border-right: solid 1px #ffffff;
  width: 20%;
  padding: 20px;
}

.container .number-text:first-child {
  border-left: solid 1px #ffffff;
}

.container .number-text h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 800;
  color: #ffffff;
}

.container .number-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
}

/*================== Services Section ====================*/

.all-services {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}

.all-services.border {
  border-bottom: solid 1px #ddd;
}

.services-item {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.all-services .services-item .icon i {
  color: #95e1d3;
  font-size: 38px;
  margin-right: 20px;
  font-weight: 800;
}

.all-services .services-item .text p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.all-services .services-item .text h3 {
  color: #999999;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
}

/* /*================= Design-section =====================*==/ */

.design {
  background: url("./images/design01.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 30px;
}

.design-text {
  padding-top: 80px;
}

.design-img .first-img {
  position: absolute;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}

.design-img .second-img {
  position: absolute;
  left: 54%;
  bottom: -100px;
}

/*=================================== what-we-do section ====================*/

.what-we-do .pic-content {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.work {
  padding-bottom: 0px;
}

.content {
  width: 100%;
}

.content .icon-text {
  display: flex;
  justify-content: left;
  border: 1px solid #ddd;
  padding: 20px 10px;
}

.content .icon-text i {
  color: #95e1d3;
  font-size: 30px;
  font-weight: 500;
}

.content .icon-text p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.para-text p {
  color: #a8a8a8;
  font-size: 15px;
  line-height: 22px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border: 1px solid #ddd;
  padding: 20px 10px;
  margin: 15px 0px;
}

/*===================== testimonial section ===================*/

.testimonial {
  background-color: #f8f8f8;
  min-height: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.testimonial-icon-text {
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 60px;
}

.devider-text {
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 30px;
  padding-top: 20px;
}

.testimonial-text p {
  color: #a8a8a8;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.devider-text hr {
  width: 5%;
  height: 3px;
  background-color: #f38181;
  border: none;
}

.devider-text p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: italic;
}

.testimonial-icon i {
  color: #95e1d3;
  font-size: 50px;
  font-weight: 600;
  border: #95e1d3 2px solid;
  padding: 30px;
}

/*======================== team =========================*/

.team-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.team-member .team-pic {
  width: 33.33%;
  text-align: center;
}

.team-member .team-pic p {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 20px;
}

.team-member .team-pic .para {
  color: #999999;
  font-size: 18px;
  padding-top: 5px;
}

.pic-hover {
  position: relative;
  display: flex;
}

.pic-hover img {
  height: 100%;
  width: 100%;
}

.pic-hover:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-image: linear-gradient(
    to top,
    #fce38a,
    #ffca7d,
    #ffb078,
    #fe987a,
    #f38181
  );
  transition: 0.5s ease;
}

.pic-hover:hover::before {
  opacity: 0.9;
  transition: 0.5 ease;
  cursor: pointer;
}

.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s ease;
  color: #ffffff;
  font-size: 16px;
}

.hover-text h4 {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.hover-text i {
  font-size: 23px;
  padding-bottom: 10px;
}

.pic-hover:hover .hover-text {
  opacity: 1;
  transition: 0.5s ease;
  top: 45%;
}

/*===================== logo =========================*/

.logo-sec {
  min-height: 150px;
  background-color: #ddd;
}
.logo-sec img {
  height: 100%;
  width: 100%;
}

.logo-sec {
  height: 100%;
  width: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*===================== Work =========================*/

.work .all-pic {
  display: flex;
  justify-content: space-between;
}

.first-two-pic img {
  display: inherit;
  width: 100%;
}

.first-column {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.second-column {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.hoverEf {
  position: relative;
}

.hoverEf .hov-text {
  position: absolute;
  left: 25%;
  top: 0%;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  opacity: 0;
  transition: 0.5s ease;
  text-align: center;
}

.hoverEf:hover .hov-text {
  opacity: 1;
  top: 40%;
}

.hoverEf::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-image: linear-gradient(
    to top,
    #fce38a,
    #ffca7d,
    #ffb078,
    #fe987a,
    #f38181
  );
  transition: 0.5s ease;
  cursor: pointer;
}

.hoverEf:hover::before {
  opacity: 0.9;
}

.hov-text i {
  color: white;
  font-size: 30px;
}

.hov-text .p-one {
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 28px;
}

.hov-text .p-two {
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 28px;
}

/*===================== people-say ===============*/

.people-say {
  background: url("./images/happy-clients.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 75vh;
}

.people-say .text .allHr {
  text-align: left;
  width: 12%;
  height: 3px;
  background-color: #f38181;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
}

.people-say .text .text-h {
  color: black;
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.people-say .text .text-p {
  color: #474747;
  font-size: 15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  line-height: 30px;
}

.people-say .text .text-para {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  line-height: 20px;
}

.people-div {
  display: flex;
  align-items: center;
  justify-content: left;
}

.people-div.one-div {
  padding-bottom: 70px;
}

.pic-text {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  column-gap: 30px;
}

/*===================== blog =========================*/

.blog-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}

.blog-pic {
  position: relative;
}

.blog-pic .p-one {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #000000;
  line-height: 40px;
}

.blog-pic .p-two {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #999999;
  line-height: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.blog-pic img {
  width: 100%;
}

.number {
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 25px;
  color: #95e1d3;
  font-style: italic;
  font-weight: 500;
  font-family: 18px;
}

.icon-text {
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 5px;
  padding-top: 20px;
}

.blog-pic .date {
  color: #ffffff;
  padding: 18px;
  background-color: #95e1d3;
  width: 10%;
  text-align: center;
  position: absolute;
  left: -5%;
  top: 38%;
}

.blog-pic .date p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

/*============= map ===========*/

.map {
  background: url("./images/location-map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 10vh;
}

.map .map-div {
  text-align: center;
  color: #f38181;
}

.map .map-div i {
  font-size: 29px;
}

.map .map-div p {
  font-size: 32px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 30px;
}

/*================ contact =============*/

.contact {
  background: #f4f1f1;
}

.footer {
  display: flex;
  justify-content: left;
  align-items: center;
  column-gap: 60px;
}

.footer-one {
  width: 60%;
}

.footer-two {
  width: 40%;
}

.footer-one p {
  font-size: 15;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #a0a0a0;
  padding-top: 25px;
}

.footer-one .follower {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #333333;
  padding-bottom: 25px;
  border-bottom: solid 1px #ddd;
}

.footer-one hr {
  background-color: #ddd;
  height: 1px;
}

.footer-one .follow {
  color: #a0a0a0;
  font-size: 15;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.footer-one input {
  padding: 10px;
  border: 1px solid #e7e7e7;
  font-style: italic;
  font-size: 16px;
}

.footer-one button {
  background-color: #95e1d3;
  border: 1px solid #95e1d3;
  color: #ffffff;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
}

.footer-one .inputeBtn {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-bottom: 70px;
}

.Footer-img {
  display: flex;
  justify-content: left;
  column-gap: 20px;
  margin-bottom: 30px;
}

.Footer-img .pic img {
  height: 100%;
  width: 100%;
}

.Footer-img .text .pOne {
  color: #000000;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 15px;
}

.Footer-img .text .pTwo {
  color: #a0a0a0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 30px;
}

.footer-two .blg-p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 700;
  padding-bottom: 20px;
}

.end-p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
  padding-top: 15px;
  border-top: solid 1px #ddd;
}
.toggleBtn {
  display: none;
}
.active {
  display: block !important;
  transform: scaleY(1) !important;
  transition: all 0.3s ease;
  text-align: center !important;
}
